<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/elaporadmin"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/elaporadmin"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElaporAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".seksi.SeksiFormActivity"
            android:exported="false" />
        <activity
            android:name=".seksi.SeksiActivity"
            android:exported="false" />
        <activity
            android:name=".pengaduan.DetailPengaduanLainActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".pengaduan.DetailPengaduanActivity"
            android:exported="false"
            android:parentActivityName=".pegawai.PegawaiDashboardActivity" />
        <activity
            android:name=".pegawai.PegawaiDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".perangkatdesa.PerangkatDesaDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".kecamatan.KecamatanFormActivity"
            android:exported="false"
            android:parentActivityName=".kecamatan.KecamatanActivity" />
        <activity
            android:name=".kecamatan.KecamatanActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".pengaduan.PengaduanFormActivity"
            android:exported="false"
            android:parentActivityName=".pengaduan.PengaduanActivity" />
        <activity
            android:name=".pengaduan.PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".perangkatdesa.PerangkatDesaFormActivity"
            android:exported="false"
            android:parentActivityName=".perangkatdesa.PerangkatDesaActivity" />
        <activity
            android:name=".perangkatdesa.PerangkatDesaActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".pegawai.PegawaiFormActivity"
            android:exported="false"
            android:parentActivityName=".pegawai.PegawaiActivity" />
        <activity
            android:name=".pegawai.PegawaiActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".lokasi.LokasiFormActivity"
            android:exported="false"
            android:parentActivityName=".lokasi.LokasiActivity" />
        <activity
            android:name=".lokasi.LokasiActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".kelurahan.KelurahanFormActivity"
            android:exported="false"
            android:parentActivityName=".kelurahan.KelurahanActivity" />
        <activity
            android:name=".kelurahan.KelurahanActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".bidang.BidangFormActivity"
            android:exported="true"
            android:parentActivityName=".bidang.BidangActivity" />
        <activity
            android:name=".bidang.BidangActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>