<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElaporAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PengaduanFormActivity"
            android:exported="false" />
        <activity
            android:name=".PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".PerangkatDesaFormActivity"
            android:exported="false" />
        <activity
            android:name=".PerangkatDesaActivity"
            android:exported="false" />
        <activity
            android:name=".PegawaiFormActivity"
            android:exported="false" />
        <activity
            android:name=".PegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".LokasiFormActivity"
            android:exported="false" />
        <activity
            android:name=".LokasiActivity"
            android:exported="false" />
        <activity
            android:name=".KelurahanFormActivity"
            android:exported="false" />
        <activity
            android:name=".KelurahanActivity"
            android:exported="false" />
        <activity
            android:name=".BidangFormActivity"
            android:exported="false" />
        <activity
            android:name=".BidangActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>