<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/elaporadmin"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/elaporadmin"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElaporAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PegawaiDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".KecamatanFormActivity"
            android:exported="false"
            android:parentActivityName=".KecamatanActivity" />
        <activity
            android:name=".KecamatanActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".PengaduanFormActivity"
            android:exported="false"
            android:parentActivityName=".PengaduanActivity" />
        <activity
            android:name=".PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".PerangkatDesaFormActivity"
            android:exported="false"
            android:parentActivityName=".PerangkatDesaActivity" />
        <activity
            android:name=".PerangkatDesaActivity"
            android:exported="false" />
        <activity
            android:name=".PegawaiFormActivity"
            android:exported="false"
            android:parentActivityName=".PegawaiActivity" />
        <activity
            android:name=".PegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".LokasiFormActivity"
            android:exported="false"
            android:parentActivityName=".LokasiActivity" />
        <activity
            android:name=".LokasiActivity"
            android:exported="false" />
        <activity
            android:name=".KelurahanFormActivity"
            android:exported="false"
            android:parentActivityName=".KelurahanActivity" />
        <activity
            android:name=".KelurahanActivity"
            android:exported="false" />
        <activity
            android:name=".BidangFormActivity"
            android:exported="true"
            android:parentActivityName=".BidangActivity" />
        <activity
            android:name=".BidangActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>